# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.egg-info/

# Archivos de logs
*.log
*.pdf
*.md
*.docx



# Archivos de configuración de IDEs (opcional)
.vscode/
.idea/

.env

